<div id="conatainer">
    <div id="main">
        <input type="text" placeholder="Search" style="background-image: url(search.svg) ;">
    
    <div id="content">
        <div class="cbox">
            <div class="switch1-txt">Open For Order</div>
            <div class="switch1">
                <input type="checkbox" id="checkbox1" />
                <label for="checkbox1" class="checkbox2"></label>
            </div>
        </div> 
    <img src="bell.svg" alt="bell" id="bell">
    <div id="user">
    <img src="customer-img.jpg" alt="profile" id="profile">
    <p id="profile-txt">Lubomir Dvorak</p>
    <i id="arrow" class="fa fa-angle-down"style="font-size:12px; color: rgb(0, 0, 0);"></i>
</div>
    
    </div>
</div>

</div>
