<section class="content-bar">
    <section class="left">
        <div class="order">
            <div class="order-number"><span class="order-font">Order Number</span> <span id="order-id">#256894</span></div>
            <div class="message"><i class="fa fa-comments" style=" color:white" id="msg-icon"></i> <span class="msg-txt">Message customer</span></div>
        </div>
        
        <div class="left-table1">
        <table class="table1">
            <thead>
                <tr>
                    <th id="head1">Item Summary</th>
                    <th>QTY</th>
                    <th id="price">Price</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tx"style="display:flex; align-items: center; padding-top:10px; gap:10px;"><img src="prod1.png" width="20px" height="30px"> Chocolate Milkshake</td>
                    <td>x 1</td>
                    <td id="price">£150.00</td>
                    <td>£150.00</td>
                </tr>
                <tr>
                    <td style="display:flex; align-items: center; padding-top:10px; gap:10px;"><img src="prod1.png" width="20px" height="30px">Chocolate Milkshake</td>
                    <td>x 2</td>
                    <td id="price">£7.50</td>
                    <td>£15.00</td>
                </tr>
                <tr>
                    <td style="display:flex; align-items: center; padding-top: 10px; gap:10px;"><img src="prod1.png" width="20px" height="30px">Finish Water Large 3Kg</td>
                    <td>x 3</td>
                    <td id="price">£70.00</td>
                    <td>£210.00</td>
                </tr>
            </tbody>
        </table>
        </div>
        <div class="left-table2">
           <table class="table2">
            <tr>
                <td class="table2-head">Customer And Order Details</td>
            </tr>
            <tr>
                <td class="l-table2">Customer Name</td>
                <td class="r-table2">Harun Lbili</td>
            </tr>
            <tr>
                <td class="l-table2">Phone Name</td>
                <td class="r-table2">7918881829</td>
            </tr>
            <tr>
                <td class="l-table2">Bag Option</td>
                <td class="r-table2">No Bag</td>
            </tr>
            <tr>
                <td class="l-table2">Type</td>
                <td class="r-table2">Delivery</td>
            </tr>
            <tr>
                <td class="l-table2">Note</td>
                <td class="r-table2">N/A</td>
            </tr>
           </table>
        </div>
    </section>
    <section class="right">
        <div class="rider-details">
            <div class="rider-details-container">
            <div class="rider-details1">Rider Details</div>
          <div class="rider-details2" Style="display:flex; gap:10px; align-items: center; flex-wrap: wrap;"><img src="pexels-luc-marshall-563813-1427889.jpg" style="width:40px; border-radius: 5px;"><strong>Robart Suvent </strong><div class="riderButton">Track Rider</div>
        </div>
    </div>
        </div>
        <div class="order-summary">
            <table class="order-summary-table">
                <tr>
                    <td class="order-head">Order summary</td>
                    <td class="order-sub-head"><span class="order-sub-head-container">On The Way</span></td>
                </tr>
                <tr>
                    <td class="l-order">Order Created</td>
                    <td class="s-order">Sun,May,7,2021</td>
                </tr>
                <tr>
                    <td class="l-order">Order Time</td>
                    <td class="s-order">06:24 AM</td>
                </tr>
                <tr>
                    <td class="l-order">Subtotal</td>
                    <td class="s-order">£375.00</td>
                </tr>
                <tr>
                    <td class="l-order">Delivery Fee</td>
                    <td class="s-order">£0.00</td>
                </tr>
            </table>
        </div>
        <div class="total">
            <p class="totalDetails1">Total</p>
            <p class="totalDetails2">£375.00</p>
        </div>
        <div class="delivery-address"> 
            <div class="delivey-address-container">
            <h2>Delivery Address</h2>
            <p><strong>Address line:</strong> 14 Anglesey Road</p>
            <p><strong>Flat/Building Name:</strong> James Court</p>
            <p><strong>Street Name:</strong> Anglesey Road</p>
            <p><strong>Postcode:</strong> En3 4hy</p>
        </div>
    </div>
</section>
</section>