<div id="container">
    <div id="img">
        <picture>
        <source srcset="bringova-logo2.jpg" media="(max-width:640px)">
        <img src="bringova-logo.png" alt="logo" id="image" >
    </picture>
    </div>
    <div id="buttons">
        <div id="buttons1"><button><i class="fa fa-truck"  id="icon" ></i><span class="side-text"> Live Order</span></button></div>

        <div id="buttons2"><button><i class="fas fa-history" id="icon"></i><span
            class="side-text"> Order History</span></button></div>

        <div id="buttons3"><button><i class="fas fa-tags" id="icon"></i> <span
            class="side-text">Offers</span></button></div>

        <div id="buttons4"><button><i class="fa fa-shopping-cart" id="icon"></i> <span
            class="side-text"> Products</span></button></div>

        <div id="buttons5"><button><i class="fas fa-boxes" id="icon"></i> <span class="side-text">
            Stock</span></button></div>

        <div id="buttons6"><button><i class="fa fa-comments" id="icon"></i><span
            class="side-text">Message</span></button></div>

        <div id="buttons7"><button><i class="fa fa-gear" id="icon"></i> <span class="side-text">
            Settings</span></button></div> 

</div>

<div class="switch-container">
    <div class="switch-txt">Bussy Mode</div>
    <div class="switch2">
        <input type="checkbox" id="checkbox" />
        <label for="checkbox" class="checkbox1"></label>
    </div>
    
</div>
